<%= content_for :header_title do %>

 <title>     About us </title>

<% end %>

<%= content_for :header_sub_title do %>

  <h1>  Who we are </h1>

<% end %>



<p>Muebleria "La Madera" es el buque insignia de la Corporación Maderera, grupo empresarial aragonés formado por Tuco, Mueblería "La Madera" y Mueblemanía, que se extiende por toda España y México.
El grupo nació en 1960 de la mano de su fundador, D. Antonio Rey. Desde entonces, Rey Corporación desarrolla su actividad empresarial con un balance de más de 55 años de crecimiento continuado.
1.958. Nuestra primera tienda, en Sabiñánigo (Huesca). Aquí empezó todo. Almacenes Rey se especializa en muebles y tejidos para el hogar
1.960 Primeras ventas. Éstas son las hojas de venta de los primeros dos meses
1.961 Nuestra primera tienda vestida de Navidad, en la calle Torrenueva de Zaragoza
1.963 Los primeros del sector en usar la prensa como canal de comunicación con los clientes con una campaña rompedora para la época
1.965 Últimas tendencias en decoración. Así era el interior de nuestras tiendas. Ya entonces innovando en la presentación de los muebles. Los primeros en crear ambientes y colocar los muebles como en una casa
1.969 Estudio de mercado. Siempre hemos pretendido identificar las necesidades de nuestros clientes
1.977 Anuncio en prensa
1.978 De almacén a centro logístico. El espacio que actualmente ocupa nuestro principal centro logístico ya era uno de los almacenes Mueblería "La Madera" 
1.982 Muebles Rey vuela en ultraligero. Pioneros en publicidad aérea
1.983 Los primeros en garantizar el mejor precio
1.990 Los primeros en utilizar a famosos como prescripciones en el sector del mueble. Desde Minerva Piquero hasta Jorge Javier Vázquez, pasando por Marujita Díaz, Chenoa o Chiquito de la Calzada.</p>
